{% comment %}

    Embed a table of chosen topics
    
    E.G. --> {% include feature/topic-table.html data="party_platforms_20th_century_all" topics="Cold War;free America;basic rights" %}

{% endcomment %}

{% capture topicdata %}{{ include.data | append: '_topics' }}{% endcapture %}
{%- assign topics = include.topics | split: ";" -%}
{%- assign chosentopics = site.data.topics[topicdata] -%}

<table class="table table-striped" style="max-width: 650px;margin-left: auto;margin-right: auto;">
    <thead>
       <tr>
          <th>Topic</th>
          <th>Words</th>
       </tr>
    </thead>
    <tbody>
    {%- for t in topics -%}
    {%- assign selectedtopics = chosentopics | where: 'TopicName', t -%}
    {% for s in selectedtopics %}
    <tr>
       <td class="topic">{{ s.TopicName }}</td>
       <td class="words">{{ s.Words }}</td>
    </tr>
    {%- endfor -%}
    {%- endfor -%}
    </tbody>
</table>