<script>
    var allImages = [
        {% assign files = site.static_files | where_exp: 'f','f.path contains "objects/"' | map: 'name' %}{% for f in files %}{% if f contains '.jpg' or f contains '.png' %}{{ f | jsonify }}{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}
    ];

    var allDocs = [
        {% assign files = site.static_files | where_exp: 'f','f.path contains "objects/"' | map: 'name' %}{% for f in files %}{% if f contains '.pdf' or f contains '.PDF' %}{{ f | jsonify }}{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}
    ];

    function getType() {
        var chosenType = this.value;
        if(chosenType == 'image') {
            // set up image dropdown
            var imageForm = '<div class="form-group"><label for="image-upload">Image filename:</label><select class="custom-select" id="image-upload" aria-describedby="chooseImage"><option>Select an image file</option></select></div>'
            
            // add caption entry
            imageForm += '<div class="form-group"><label for="imageCaption">Image caption:</label><input class="form-control" id="imageCaption" placeholder="Describe image"></div>'

            // add image width
            imageForm += '<div class="form-group"><label for="imageWidth">Image width:</label><select class="custom-select" id="image-width" aria-describedby="imageWidth"><option>Select an image width</option><option value="25">25%</option><option value="50">50%</option><option value="75">75%</option><option value="100">100%</option></select></div>'

            // add image link (optional)
            imageForm += '<div class="form-group"><label for="imageLink">Image link (optional):</label><input class="form-control" id="imageLink" placeholder="Add a link to where you found your image"></div>'

            // add submit button
            imageForm += '<button type="submit" id="generate" class="btn btn-primary mr-3">Submit</button><button id="reload" class="btn btn-success">Refresh</button>'

            // add image form to page
            document.getElementById('form-content').innerHTML = imageForm;

            // create image dropdown
            for (let i = 0; i < allImages.length; i++) {
                function createDropItem(images) {
                    var option = document.createElement('option');
                    option.setAttribute('value', images[i]);
                    option.textContent = images[i];
                    return option;
                };

                // add items to image dropdown
                var imageId = document.getElementById('image-upload');
                imageId.appendChild(createDropItem(allImages));
            };

            // define image and width elements
            var item = document.getElementById('image-upload');
            var width = document.getElementById('image-width');
            // define button
            var btn = document.getElementById('generate');

            // generate include
            btn.addEventListener('click', function(){
                var chosenItem = item.value;
                var itemCaption = document.getElementById('imageCaption').value;
                var itemWidth = width.value;
                var link = document.getElementById('imageLink').value;

                var filename = 'filename="' + chosenItem + '" ';
                var caption = 'caption="' + itemCaption + '" ';
                var alt = 'alt="Image of ' + itemCaption + '" ';
                var widthPercentage = 'width="' + itemWidth + '" ';

                if (chosenItem == 'Select an image file') {
                    alert('Choose an image filename');
                } else if (itemCaption == ''){
                    alert('Image caption must be filled out');
                } else if (itemWidth == 'Select an image width'){
                    alert('Select an image width');
                // without a link
                } else if (link == '' ){
                    // setup include
                    var include = '<div class="card"><div class="m-4"><p><strong>Include Code </strong><br><small class="text-muted">Copy and paste all of the code below into your essay page</small><br><code>{% raw %}{% include feature/image.html ' + filename + caption + alt + widthPercentage + ' %}{% endraw %}</code></p></div></div>';
                    // output include
                    document.getElementById('include-output').innerHTML = include;
                // with a link
                } else {
                    // set up include
                    var include = '<div class="card"><div class="m-4"><p><strong>Include Code </strong><br><small class="text-muted">Copy and paste all of the code below into your essay page</small><br><code>{% raw %}{% include feature/image.html ' + filename + caption + alt + widthPercentage + ' link="' + link + '" %}{% endraw %}</code></p></div></div>';
                    // output include
                    document.getElementById('include-output').innerHTML = include;
                }
            });

            // refresh button
            document.getElementById('reload').addEventListener('click', function(){
                window.location.reload();
            });

        } else if(chosenType == 'pdf') {
            // set up pdf dropdown
            var pdfForm = '<div class="form-group"><label for="pdf">Document filename:</label><select class="custom-select" id="pdf" aria-describedby="chooseImage"><option>Select a document</option></select></div>'
            
            // add caption entry
            pdfForm += '<div class="form-group"><label for="pdfCaption">Document caption:</label><input class="form-control" id="pdfCaption" placeholder="Describe document"></div>'

            // add image width
            pdfForm += '<div class="form-group"><label for="pdfWidth">Document width:</label><select class="custom-select" id="pdfWidth" aria-describedby="imageWidth"><option>Select a document width</option><option value="25">25%</option><option value="50">50%</option><option value="75">75%</option><option value="100">100%</option></select></div>'

            // add submit button
            pdfForm += '<button type="submit" id="generate" class="btn btn-primary mr-3">Submit</button><button id="reload" class="btn btn-success">Refresh</button>'

            // add pdf form to page
            document.getElementById('form-content').innerHTML = pdfForm;

            // create pdf dropdown
            for (let i = 0; i < allDocs.length; i++) {
                function createDropItem(docs) {
                    var option = document.createElement('option');
                    option.setAttribute('value', docs[i]);
                    option.textContent = docs[i];
                    return option;
                };

                // add items to image dropdown
                var docId = document.getElementById('pdf');
                docId.appendChild(createDropItem(allDocs));
            };

            // define doc and width elements
            var item = document.getElementById('pdf');
            var width = document.getElementById('pdfWidth');
            // define button
            var btn = document.getElementById('generate');

            // generate include
            btn.addEventListener('click', function(){
                var chosenItem = item.value;
                var itemCaption = document.getElementById('pdfCaption').value;
                var itemWidth = width.value;

                var filename = 'filename="' + chosenItem + '" ';
                var caption = 'caption="' + itemCaption + '" ';
                var alt = 'alt="Document representing ' + itemCaption + '" ';
                var widthPercentage = 'width="' + itemWidth + '" ';

                if (chosenItem == 'Select a document') {
                    alert('Choose a document filename');
                } else if (itemCaption == ''){
                    alert('Document caption must be filled out');
                } else if (itemWidth == 'Select a document width'){
                    alert('Select a document width');
                } else {
                    // set up include
                    var include = '<div class="card"><div class="m-4"><p><strong>Include Code </strong><br><small class="text-muted">Copy and paste all of the code below into your essay page</small><br><code>{% raw %}{% include feature/pdf.html ' + filename + caption + alt + widthPercentage + ' %}{% endraw %}</code></p></div></div>';
                    // output include
                    document.getElementById('include-output').innerHTML = include;
                }
            });

            // refresh button
            document.getElementById('reload').addEventListener('click', function(){
                window.location.reload();
            });
        }
    };

    var include_sel = document.getElementById("include-type");
    include_sel.addEventListener('change', getType);
</script>