---
layout: about
---

{% for file in site.data.topics %}
{% assign filename = file[0] %}
{% assign topics = site.data.topics[filename] | map: 'TopicName' %}
{% for t in topics %}
{% unless t == nil %}
{% capture filename %}{{ filename | remove: '_topics' }}{% endcapture %}
{% capture topic %}{{ t }}{% endcapture %}
{% include feature/line-chart.html data=filename topic=topic %}

<strong>Include</strong>:

<code>{% raw %}{% include feature/line-chart.html data="{% endraw %}{{ filename | remove: '_topics' }}{% raw %}" topic="{% endraw %}{{ t }}{% raw %}" %}{% endraw %}</code>

<hr>

{% endunless %}
{% endfor %}
{% endfor -%}